@{
    Layout = "_Layout";
}

@model HairSalon.Models.Client
<div class="card bg-dark">
    <div class="card-header">
<h2>Edit</h2>
</div>
<div class="card-body">
<h4>Editting this client: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)<br>

    @Html.LabelFor(model => model.Name)<br>
    @Html.EditorFor(model => model.Name)<br>

    @Html.LabelFor(model => model.Stylist)<br>
    @Html.DropDownList("StylistId")<br>

    <button type="submit" class="btn btn-outline-success" value="Save" >Save</button>
}
</div>
<div class="card-footer">
<button class="btn btn-outline-secondary">@Html.ActionLink("Back to List", "Index")</button>
</div>
</div>